<div class="container col-8 mt-5">

  <ul class="list-unstyled">
    <% @bars.each do |bar| %>
    <li class="mt-4">Name: <%= bar.name %></li>

    <li>Location : <%= bar.location %></li>
    <li>City : <%= bar.city %></li>
    <li>Country : <%= bar.country %></li>

    <li>Id : <%= bar.id %></li>
    <% end  %>
  </ul>

</div>


