<div class="row justify-content-center bar-all-content">

  <div class="col-12 col-lg-6 bar-details">

    <!-- bar image needed -->

    <div class="list-unstyled bar-info-top">
      <h1><li><%= @bar.name %></li></h1>
    </div>

    <div class="bar-description">
      <%= @bar.description %>
    </div>

    <div class="d-flex justify-content-around bar-info">
      <p><%= @bar.location %></p>
      <p><%= @bar.city %></p>
      <p><%= @bar.country %></p>
    </div>

    <!-- bar menu needed -->
  </div>
</div>
