<div class="container col-8 mt-5">

  <div class="my-profile">
    <h1> My Profile </h1>
  </div>

  <div class="settings-logout">
    <%= link_to edit_user_registration_path do %>
      <i class="fas fa-cog"></i>
    <% end %>

    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  </div>

  <div class="user-name-picture">
    <!-- profile picture -->
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    <p><%= current_user.first_name.capitalize %> </p>
    <p><%= current_user.last_name.capitalize %></p>
  </div>

  <!-- to drink list -->
  <div class = "to-drink-list">
    <p> To drink</p>
    <p><%= @to_drink.size %></p>

  </div>

  <div class = "drank-list">
    <p> Drank </p>
    <p><%= @drank.size %></p>
  </div>



  <!-- images of beers to drink- sample from list -->
  <div class="beers-to-drink">
    <ul>
      <% if @to_drink.size < 1 %>
        <li> No drinks on this list- you must be thirsty or drunk! </li>
        <li><%= link_to "Check out some beers now!", beers_path %></li>
      <% else %>
        <% @to_drink.each do |beer| %>
          <li><%= beer.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
