<div class="container">

  <div class="my-profile">
    <h1> My Profile </h1>
  </div>

  <div class="profile-action-btns">
    <div class="profile-settings">
        <%= link_to edit_user_registration_path do %>
          <i class="fas fa-cog"></i>
        <% end %>
    </div>
    <div class="profile-logout">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </div>
  </div>

  <!-- profile picture -->
  <div class="profile-user-photo">
     <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, height: 400, width: 400, crop: :fit, class: "avatar-large", alt: "avatar-large" %>
    <% else %>
     <%= image_tag "https://res.cloudinary.com/di6k1pdz4/image/upload/v1606851697/Beerware/Users/placeholder_gzfccg.png", class: "avatar-large", alt: "avatar-large" %>
    <% end %>
  </div>
  <div class="profile-user-name">
    <p class="profile-user-first-name"> <%= current_user.first_name.capitalize %> </p>
    <p class="profile-user-last-name"> <%= current_user.last_name.capitalize %> </p>
  </div>

  <!-- To drink and drank buttons -->
  <div class="user-lists">
    <div class="profile-to-drink-list">
      <!-- if clicked will show Beers on To Drink list -->
      <!-- divs, style to look like buttons, 2 lists (to_d/ drank) seperate ids, once list have a hidden class -->
      <!-- addEvenetListener to both buttons, to_drink btn- remove hidden of to_drink list and add hidden to the drank list -->
      <!-- has to do  -->
      <button id="show-to-drink-list-btn" class="active">
         To Drink

      <p><%= @to_drink.size %></p>

      </button>
    </div>

    <div class = "profile-drank-list">
      <!-- if clicked will show Beers on Drank list -->
      <button id = "show-drank-list-btn">
         Drank

      <p><%= @drank.size %></p>
      </button>
    </div>
  </div>
  <!-- images of beers to drink- sample from list -->

  <!-- images of beers to drink- sample from list -->
  <div id="beers-to-drink-images">
    <% if @to_drink.size < 1 %>
      <p>No drinks on this list- you must be thirsty or drunk!</p>
      <br>
      <%= link_to "Check out some beers now!", beers_path %>
    <% else %>
      <div class="grid">
        <!-- if click on to_drink -->
          <% @to_drink.each do |beer| %>
            <div class="item photo">
              <div class="content">
                <% if beer.photo.attached? %>
                  <%= cl_image_tag beer.photo.key, height: 400, width: 400, crop: :fit %>
                <% else %>
                  <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/16/25/81/c2/our-new-logo.jpg", class: "img-fluid" %>
                <% end %>
              </div>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>

  <!-- if click on drank -->
  <div id="beers-drank-images" style = "display:none">
    <% if @drank.size < 1 %>
      <p>No drinks on this list.</p>
      <br>
      <%= link_to "Check out some beers now!", beers_path %>
    <% else %>
      <div class="grid">
        <!-- if click on to_drink -->
          <% @drank.each do |beer| %>
            <div class="item photo">
              <div class="content">
                <% if beer.photo.attached? %>
                  <%= cl_image_tag beer.photo.key, height: 400, width: 400, crop: :fit %>
                <% else %>
                  <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/16/25/81/c2/our-new-logo.jpg", class: "img-fluid" %>
                <% end %>
              </div>
            </div>
          <% end %>
      </div>

  </div>
   <% end %>
</div>


