<%= link_to bar_path(bar) do %>
<div class="d-flex">
  <%if bar.photo_url? %>
    <%= image_tag bar.photo_url, class: "popup_img"%>
  <% else %>
    <%= image_tag "https://res.cloudinary.com/di6k1pdz4/image/upload/v1607614839/Beerware/Bars/generic_bar_kiyhwh.jpg", class: "popup_img" %>
  <% end %>
  <!-- <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/25/81/c2/our-new-logo.jpg" alt="" class="popup_img"> -->
  <div class="d-flex flex-column ml-3">
    <h3 class="popup_title"><%= truncate(bar.name, :length => 25) %></h3>
    <p class="popup-description"><%= truncate(bar.description, :length => 100) %></p>
  </div>
</div>
<% end %>
