<div class="bars-container">

  <!-- <div class = "search-bar-wrapper"> -->

  <div class="container search-header">
    <!-- font awesome back button -->
    <!-- add rows and col -->
    <div class="row">
      <div class="back-button-index">
        <%= link_to :back do %>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 492 492" width="20px" fill="#151515" style="enable-background:new 0 0 492 492;" xml:space="preserve">
          <g>
            <g>
              <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
                C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
                c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
                l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z"/>
            </g>
          </g>
        </svg>
        <% end %>
      </div>

    <!-- Search -->
      <div class="col col-10">

        <%= form_tag search_page_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search-bar",
            placeholder: "Beer name, bar, type of beer..."
          %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container-fluid">
      <% if @not_searched %>
        <div class="search-map">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 477.874 477.874" width="28px" fill="#D18411" style="enable-background:new 0 0 477.874 477.874;" xml:space="preserve">
          <g>
            <g>
              <path d="M460.812,0c-2.651-0.001-5.266,0.615-7.637,1.8L323.844,66.483L177.6,1.476c-0.239-0.102-0.512-0.12-0.768-0.222
                c-0.658-0.246-1.331-0.451-2.014-0.614c-0.679-0.183-1.369-0.326-2.065-0.427c-1.386-0.114-2.779-0.114-4.164,0
                c-0.696,0.101-1.386,0.244-2.065,0.427c-0.683,0.163-1.356,0.368-2.014,0.614c-0.256,0.102-0.529,0.119-0.768,0.222l-153.6,68.267
                C3.976,72.481,0.003,78.595,0.004,85.341v375.467c0.003,5.774,2.924,11.155,7.765,14.302c4.842,3.152,10.949,3.64,16.23,1.297
                l146.671-65.195l146.671,65.195c0.256,0.102,0.529,0,0.785,0.154c4.132,1.848,8.875,1.742,12.919-0.29
                c0.273-0.119,0.58,0,0.853-0.188l136.533-68.267c5.786-2.891,9.441-8.806,9.438-15.275V17.075
                C477.875,7.649,470.237,0.004,460.812,0z M153.604,381.448L34.137,434.542V96.435L153.604,43.34V381.448z M307.204,434.542
                l-119.467-53.094V43.34l119.467,53.094V434.542z M443.737,381.994l-102.4,51.2V95.888l102.4-51.2V381.994z"/>
            </g>
          </g>
          </svg>

          <h4 class="no-search-title"> <%= link_to "Or search the map", map_page_path %></h4>
        </div>


      <% elsif @empty_list%>
        <br>
        <h4> No results but you can checkout some of the beers and bars below. </h4>

        <h4> Recommended Beers </h4>

        <% @beers.each do |beer| %>
          <div class="card beers">
            <div class="row">

              <div class="col-sm-3 col-5">
                <%= link_to beer_path(beer) do %>
                  <img src="https://w7.pngwing.com/pngs/266/759/png-transparent-gray-can-illustration-beer-aluminum-can-beer-packaging-design-glass-beer-bottle-preview.png" class="img-fluid" />
                <% end %>
              </div>

              <div class="col-sm-9 col-7 pl-0 beers">
                <div class="card-beer-infos" >
                  <%= link_to beer_path(beer) do %>
                    <h2 class="card-beer-name"><%= h truncate(beer.name, :length => 25) %></h2>
                    <p class="card-beer-category"><%=h truncate(beer.category, :length => 25) %></p>
                    <p class="card-beer-description"><%=h truncate(beer.description, :length => 90) %></p>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        <% end %>

        <h4>Recommended Bars</h4>

        <% @bars.each do |bar| %>
          <div class="card bars" >
            <div class="row" >

              <div class="col-sm-3 col-5">
                <%= link_to bar_path(bar) do %>
                  <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/25/81/c2/our-new-logo.jpg" class="img-fluid" />
                <% end %>
              </div>

              <div class="ol-sm-9 col-7 pl-0 bars">
                <div class="card-bars-infos">
                  <%= link_to bar_path(bar) do %>
                    <h2 class="card-bars-name"><%=h truncate(bar.name, :length => 25) %></h2>
                    <p class="card-bars-location"><%=h truncate(bar.location, :length => 25) %></p>
                    <p class="card-bars-description"><%=h truncate(bar.description, :length => 90) %></p>
                 <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      <% else %>

        <h2 class="bars-title">Results for beers</h2>
        <% if @beers.length < 1  %>
          <p>Sorry, no beers found 🧐</p>
        <% else %>
          <% @beers.each do |beer| %>
            <div class="card beers">
              <div class="row">

                <div class="col-sm-3 col-5">
                  <%= link_to beer_path(beer) do %>
                    <img src="https://w7.pngwing.com/pngs/266/759/png-transparent-gray-can-illustration-beer-aluminum-can-beer-packaging-design-glass-beer-bottle-preview.png" class="img-fluid" />
                  <% end %>
                </div>

                <div class="col-sm-9 col-7 pl-0 beers">
                  <%= link_to beer_path(beer) do %>
                    <div class="card-beer-infos">
                      <div class="name-rating">
                        <h2 class="card-beer-name"><%= h truncate(beer.name, :length => 25) %></h2>
                        <div class="card-beer-rating"><%= beer.avg_rating %></div>
                      </div>
                      <p class="card-beer-category"><%=h truncate(beer.category, :length => 25) %></p>
                      <p class="card-beer-description"><%=h truncate(beer.description, :length => 90) %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <h2 class="bars-title">Results for bars</h2>
        <% if @bars.length < 1 %>
          <p>Sorry, no bars found 🧐</p>
        <% else %>
          <% @bars.each do |bar| %>
            <div class="card bars">
              <div class="row">

                <div class="col-sm-3 col-5">
                  <%= link_to bar_path(bar) do %>
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/25/81/c2/our-new-logo.jpg" class="img-fluid" />
                  <% end %>
                </div>

                <div class="ol-sm-9 col-7 pl-0 bars">
                  <%= link_to bar_path(bar) do %>
                    <div class="card-bars-infos">
                      <h2 class="card-bars-name"><%=h truncate(bar.name, :length => 25) %></h2>
                      <p class="card-bars-location"><%=h truncate(bar.location, :length => 25) %></p>
                      <p class="card-bars-description"><%=h truncate(bar.description, :length => 90) %></p>
                    </div>
                  <% end %>
                </div>

              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>




