<div class="container col-8 mt-5">
  <!-- <div class = "search-bar-wrapper"> -->

    <div class = "search-bar-wrapper">
      <!-- font awesome back button -->
      <div class="back-button">
        <%= link_to :back do %>
          <i class= "fas fa-arrow-circle-left"></i>
        <% end %>
      </div>
      <!-- Search -->
      <%= form_tag search_page_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query], # params[:query]
          class: "search-bar",
          placeholder: "Find a beer or bar"
        %>

      <% end %>


        <%= link_to bars_path do %>
          <i class="fas fa-ellipsis-v"></i>
        <% end %>
    </div>


  <% if @not_searched %>
    <br>
    <h4> Search for your favourite beers and bars. </h4>


  <% elsif @empty_list%>
    <br>
    <h4> No results but you can checkout some of the beers and bars below. </h4>

    <br>
    <h4> Recommended Beers </h4>
    <ul class="list-unstyled">
      <% @beers.each do |beer| %>
      <li class="mt-4">Name: <%= beer.name %></li>
      <li>Category : <%= beer.category %></li>
      <% end %>
    </ul>
    <br>
    <h4>Recommended Bars</h4>
    <ul class="list-unstyled">
      <% @bars.each do |bar| %>
      <li class="mt-4">Name: <%= bar.name %></li>
      <li>Location : <%= bar.location %></li>
      <% end %>
    </ul>

  <% else %>
    <br>
    <h4 class="mt-5">Results for Beers</h4>
    <ul class="list-unstyled">
      <% @beers.each do |beer| %>
      <li class="mt-4">Name: <%= beer.name %></li>
      <li>Category : <%= beer.category %></li>
      <% end  %>
    </ul>
    <br>

    <h4>Results for Bars</h4>
    <ul class="list-unstyled">
      <% @bars.each do |bar| %>
      <li class="mt-4">Name: <%= bar.name %></li>
      <li>Location : <%= bar.location %></li>
      <% end %>
    </ul>
  <% end %>
</div>

