<div class="container col-8 mt-5">
  <%= form_tag beers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a beer"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


  <ul class="list-unstyled">
    <% @beers.each do |beer| %>
    <li class="mt-4">Name: <%= beer.name %></li>
    <li>Category : <%= beer.category %></li>
    <li>Alcohol : <%= beer.alcohol %></li>
    <li>IBU : <%= beer.ibu %></li>
    <li>Temperature : <%= beer.temperature %></li>
    <li>Description : <%= beer.description %></li>
    <li>Id : <%= beer.id %></li>
    <% end  %>
  </ul>
</div>


