<div class="beer-detail">
  <div class="card beer-image">
    <%= image_tag "beer_image.png" %>
  </div>
  <div class="list-unstyled beer-description">
    <h2><li><%= @beer.name %></li></h2>
    <li><%= @beer.category %></li>
  </div>
  <div class="beer-description">
    <%= @beer.description %>
  </div>
  <div class="beer-details">
    <div class="beer-alcohol">
      <%= @beer.alcohol %>
    </div>
    <div class="beer-ibu">
      <%= @beer.ibu %>
    </div>
    <div class="beer-temperature">
      <%= @beer.temperature %>
    </div>
  </div>
  <div class="beer-reviews">
    Reviews:
  </div>
  </div>
</div>
