<div class="row justify-content-center beer-all-content">

  <div class="col-12 col-lg-6 beer-details">

    <div class="beer-image">

    </div>

    <div class="list-unstyled beer-info-top">
      <%= @beer.photo %>
      <h1><li><%= @beer.name %></li></h1>
      <h2><li><%= @beer.category %></li></h2>
    </div>

<!-- need to edit to make sure user can't post the same drink more than once -->
    <ul class = to-drink-drank-add">
      <li><%= link_to "Add to your To Drink List", to_drink_beer_path, method: :post %></li>
      <li><%= link_to "Add to your Drank Link", drank_beer_path, method: :post %></li>
    </ul>
    <!-- button to open modal-->
<button type="button" class="btn btn-sm review-button" data-toggle="modal" data-target="#modal">Review it</button>

<!-- Modal -->
<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Review</h4> -->
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="rate-title">Rate:</div>
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
          </div>
          <div class="review-title-container">
            <label for="review-title">Leave a review:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


    <div class="beer-description">
      <%= @beer.description %>
    </div>

    <div class="d-flex justify-content-around beer-info">
      <p><%= @beer.alcohol %>%</p>
      <p><%= @beer.ibu %></p>
      <p><%= @beer.temperature %>Cº</p>
    </div>

    <hr>

    <div class="beer-reviews">
      <p>Reviews:</p>
    </div>
    </div>

  </div>
</div>
