<div class="row justify-content-center beer-all-content">

  <div class="col-12 col-lg-6 beer-details">

    <div class="beer-image">

    </div>

    <div class="list-unstyled beer-info-top">
      <% if @beer.photo.attached? %>
        <% cl_image_tag @beer.photo.key, height: 400, width: 400, crop: :fit %>
      <% else %>
        <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/16/25/81/c2/our-new-logo.jpg", class: "img-fluid" %>
      <% end %>
      <div class="d-flex">
          <h1><li><%= @beer.name %></li></h1>
        <div class="col 2">

      </div>
      <h2><li><%= @beer.category %></li></h2>
    </div>


    <ul class = "to-drink-drank-unlist-butons">
      <% @to_drink = UsersBeer.find_by(beer: @beer, user: current_user, drank: :false) %>
      <% @drank = UsersBeer.find_by(beer: @beer, user: current_user, drank: :true) %>
      <% if @to_drink %>
        <p> On your To Drink list </p>
        <li><%= link_to "Add to your Drank list", drank_beer_path, method: :post %></li>
        <li><%= link_to "Remove Beer from To Drink list", unlist_beer_path, method: :delete %></li>
      <% elsif @drank %>
        <p> On your Drank list </p>
        <li><%= link_to "Add to your To Drink list", to_drink_beer_path, method: :post %></li>
        <li><%= link_to "Remove Beer from Drank list", unlist_beer_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Add to your To Drink list", to_drink_beer_path, method: :post %></li>
        <li><%= link_to "Add to your Drank list", drank_beer_path, method: :post %></li>
      <% end %>

    </ul>

    <!-- button to open modal-->
<button type="button" class="btn btn-sm review-button" data-toggle="modal" data-target="#modal">Review it</button>
<p><%= link_to "check which bars sell this beer", bar_list_beer_path(@beer) %></p>

<!-- Modal -->
<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Review</h4> -->
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= simple_form_for [ @beer, @review ] do |f| %>
            <div class="rate-title">Rate it:</div>
            <div class="rate">
              <input type="radio" id="star5" name="review[rating]" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="review[rating]" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="review[rating]" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="review[rating]" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="review[rating]" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
        </div>
        <div class="review-title-container">
          <label for="review-title">Leave a review:</label>
            <%= f.input :content, label: false, placeholder: 'Your opinion here' %>
            <%= f.submit "Submit review", class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>

  </div>
</div>


    <div class="beer-description">
      <%= @beer.description %>
    </div>

    <div class="d-flex justify-content-around beer-info">
      <p><%= @beer.alcohol %>%</p>
      <p><%= @beer.ibu %></p>
      <p><%= @beer.avg_rating %></p>
    </div>

    <hr>

    <div class="beer-reviews">
      <p>Reviews:</p>
        <ul class="list-group">
          <% @beer.reviews.each do |review| %>
          <li class="list-group-item review-content">
          <p><%= review.user.first_name %></p>

              <% review.rating.to_i.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <p>Description: <%= review.content %></p>
          </li>
        <% end %>
        </ul>
    </div>


  </div>
</div>
