<!DOCTYPE html>
<html>
  <head>
    <title>Beerware</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- added font-awesome, bootstrap, google fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="background-color: #FFFCFB;">
    <nav class="navbar fixed-bottom">
          <!-- for the rest of the navbar -->
          <!-- if user is logged in -->
          <% if current_user %>
            <!-- Logged in as <%= current_user.email %> -->
              <div class="options">
                  <a href="/map"> <i class="fas fa-map"></i> </a>
                  <p class="map-label">Map</p>
                  <a href="/search"> <i class="fas fa-search"></i> </a>
                  <a href="/"> <i class="fas fa-home"></i> </a>
                  <a href="/profile"> <i class="fas fa-user"></i> </a>
                  <!-- <%= link_to "Search", search_page_path %>
                  <%= link_to "Map", root_path %>
                  <%= link_to "Profile", root_path %> -->
              </div>
              <div class="nav-item logout">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </div>
          <% end %>
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>


<!-- ADD GEMS -->












<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Beerware</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

=======
>>>>>>> ffd37e9a38b1324d42a4c0622aa54032b7533297
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
 -->
